/* global css for global cssing */

body{
    display: flex;
    align-items: flex-end;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}